### Import Dependencies

In [2]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [3]:
#Read in the csv file
all_crash_file = "../Resources/Crash_Information_(Last_5_Years).csv"
all_crash_df = pd.read_csv(all_crash_file)
all_crash_df.head()

,X,Y,OBJECTID,ACC_ID,ROAD_NO,ROAD_NAME,COMMON_ROAD_NAME,CWAY,SLK,INTERSECTION_NO,...,ACCIDENT_TYPE,SEVERITY,EVENT_NATURE,EVENT_TYPE,TOTAL_BIKE_INVOLVED,TOTAL_TRUCK_INVOLVED,TOTAL_HEAVY_TRUCK_INVOLVED,TOTAL_MOTOR_CYCLE_INVOLVED,TOTAL_OTHER_VEHICLES_INVOLVED,TOTAL_PEDESTRIANS_INVOLVED
0,115.654909,-33.341617,24293540,10326362,2040092,Picton Rd,Picton Rd,L,0.12,65569.0,...,Intersection,Hospital,Right Angle,NaN,0,0,0,0,2,0
1,115.779070,-31.937363,24293541,10326370,1280301,Oceanic Dr,Oceanic Dr,L,2.25,52585.0,...,Intersection,Medical,Right Angle,NaN,2,0,0,0,1,0
2,115.027906,-33.896592,24293542,10326378,M043,Caves,Caves Rd,S,54.23,13577.0,...,Intersection,Medical,Right Angle,NaN,0,0,0,0,2,0
3,115.943619,-31.996498,24293543,10326387,1140014,Kewdale Rd,Kewdale Rd,L,0.00,39607.0,...,Intersection,Hospital,Right Turn Thru,NaN,0,0,0,0,2,0
4,115.851913,-31.942065,24293544,10326396,H035,Wanneroo Rd,Charles St,L,0.00,4336.0,...,Intersection,Hospital,Right Turn Thru,NaN,0,0,0,0,2,0

### Transform all_crash DataFrame

In [4]:
# Create a filtered dataframe from specific columns
allcrash_df = ["OBJECTID", "ACC_ID", "LONGITUDE", "LATITUDE", "CRASH_DATE", "CRASH_TIME", "SEVERITY"]
allcrash_transformed= all_crash_df[allcrash_df].copy()
allcrash_transformed.head()

   OBJECTID    ACC_ID   LONGITUDE   LATITUDE  CRASH_DATE  CRASH_TIME  SEVERITY
0  24293540  10326362  115.654909 -33.341617  22/11/2017       832.0  Hospital
1  24293541  10326370  115.779070 -31.937363  23/11/2017       705.0   Medical
2  24293542  10326378  115.027906 -33.896592  22/11/2017      1550.0   Medical
3  24293543  10326387  115.943619 -31.996498  22/11/2017      1720.0  Hospital
4  24293544  10326396  115.851913 -31.942065  25/11/2017      1840.0  Hospital

In [5]:
#Filter to have only FATAL data
allcrash_fatal = allcrash_transformed.loc[allcrash_transformed['SEVERITY'] == "Fatal"]
allcrash_fatal

,OBJECTID,ACC_ID,LONGITUDE,LATITUDE,CRASH_DATE,CRASH_TIME,SEVERITY
535,24294075,10329795,115.944750,-31.871131,17/11/2020,1555.0,Fatal
3701,24297241,10343696,115.832501,-32.736379,21/11/2020,1948.0,Fatal
3702,24297242,10343700,115.773752,-32.423502,22/11/2020,240.0,Fatal
3703,24297243,10343704,115.478455,-33.616733,20/11/2020,1540.0,Fatal
3718,24297258,10343916,115.865841,-32.639631,27/11/2020,125.0,Fatal
...,...,...,...,...,...,...,...
138169,24431709,10306111,116.180169,-32.276891,30/10/2020,1454.0,Fatal
138170,24431710,10306115,115.513508,-33.600161,1/11/2020,1307.0,Fatal
138171,24431711,10306119,116.773043,-30.730818,1/11/2020,1542.0,Fatal
138184,24431724,10306357,115.803460,-32.241371,3/11/2020,1440.0,Fatal
138281,24431821,10287241,115.230217,-29.666942,28/09/2020,918.0,Fatal

In [7]:
#Use list comprehension to change uppercase letters to lowercase
[x.lower() for x in allcrash_fatal.columns]

['objectid',
 'acc_id',
 'longitude',
 'latitude',
 'crash_date',
 'crash_time',
 'severity']

In [8]:
#Put new values into dataframe
allcrash_fatal.columns = [x.lower() for x in allcrash_fatal.columns]
allcrash_fatal

,objectid,acc_id,longitude,latitude,crash_date,crash_time,severity
535,24294075,10329795,115.944750,-31.871131,17/11/2020,1555.0,Fatal
3701,24297241,10343696,115.832501,-32.736379,21/11/2020,1948.0,Fatal
3702,24297242,10343700,115.773752,-32.423502,22/11/2020,240.0,Fatal
3703,24297243,10343704,115.478455,-33.616733,20/11/2020,1540.0,Fatal
3718,24297258,10343916,115.865841,-32.639631,27/11/2020,125.0,Fatal
...,...,...,...,...,...,...,...
138169,24431709,10306111,116.180169,-32.276891,30/10/2020,1454.0,Fatal
138170,24431710,10306115,115.513508,-33.600161,1/11/2020,1307.0,Fatal
138171,24431711,10306119,116.773043,-30.730818,1/11/2020,1542.0,Fatal
138184,24431724,10306357,115.803460,-32.241371,3/11/2020,1440.0,Fatal
138281,24431821,10287241,115.230217,-29.666942,28/09/2020,918.0,Fatal

### Save cleaned dataframe as csv file

In [11]:
allcrash_fatal.to_csv('Resources/Crash_Information_cleaned.csv')